<h1>Books</h1>


<% @books.each do |book| %>
<div class="list-item">

  <div class="list-title">
    <h2>Title</h2>
 <span><%= book.title %></span>
 </div>

  <div class="list-body">
    <h2>Body</h2>
  <span><%= book.body %></span>
  </div>
</div>
<%= link_to 'show', book_path(book.id) %>
<%= link_to 'edit', edit_book_path(book.id) %>
<%= link_to 'destroy', books_path(book.id), method: :delete, "deta-confirms" => "Are you sure?" %>

<% end %>



